doctype html
html
    head
        meta(charset="utf-8")
        include ../partial/mobile-meta.jade
        meta(name="description", content="#{__(titleKey)}")
        title #{__(titleKey)}
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="stylesheet", type="text/css", href="/assets/css/slides.css")
        style(type="text/css").


body
    textarea#source.
        #{slides}

div
    script(src="/assets/scripts/remark.min.js")
    script.
        var w=Math.max(document.documentElement.clientWidth,window.innerWidth||0)||908;
        var h=Math.max(document.documentElement.clientHeight,window.innerHeight||0)||681;
        var slideshow = remark.create({ratio:w+':'+h});
    include ../partial/track.jade